.tab-link {
  color: black;
  background-color: none !important;
  font-size: 20px;
  font-weight: bold !important;
}
.tab-link:hover {
  color: #7bd7ab !important;
}
.nav-link.active {
  background-color: none !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #7bd7ab !important  ;
  background: none !important;
}

@media only screen and (max-width: 408px) {
  .tab-link {
    font-size: 16px;
  }
}
